<section class="todoapp">
  <header class="header">
    <h1><%= @list.name %></h1>
    <%= form_for @list do |f| %>
        <%= f.fields_for :items, @list.items.build do |item| %>
            <%= item.text_field :name, class: "new-todo", placeholder: "Add an item.. ", autofocus: "" %>
        <% end %>
        <%= f.submit style: "display:none;" %>
    <% end %>
  </header>

  <section class="main">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>

    <!-- Iteration of @items -->
    <ul class="todo-list">
      <% if @items.count > 0 %>
          <%= render partial: 'items/item', collection: @items %>
      <% else %>
          <p class="new-todo">No items</p>
      <% end %>
    </ul>
  </section>

  <footer class="footer">
    <span class="todo-count"><strong><%= active_item_count(@list) %></strong> item left</span>
    <ul class="filters">
      <li>
        <a href="#/" class="selected">All</a>
      </li>
      <li>
        <a href="#/active" class="">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
    </ul>
    <button class="clear-completed" style="display: block;">Clear completed</button>
  </footer>

</section>